@import '~/node_modules/bulma/sass/utilities/initial-variables.sass';
// @import '~/node_modules/bulma/sass/utilities/derived-variables.sass';

$primary: $blue;
$body-size: 14px;

@import '~bulma/bulma';

h1 {
    @extend .title;
    @extend .is-2;
}

h2 {
    @extend .title;
    @extend .is-3;
}

h3 {
    @extend .title;
    @extend .is-4;
}

h4 {
    @extend .title;
    @extend .is-5;
}

h5 {
    @extend .title;
    @extend .is-6;
}

.section {
    padding: 1rem 0;
}